{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h4>Buy</h4>
    <br>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="buy_symbol" name="symbol" placeholder="Stock's Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="buy_shares" name="shares" placeholder="Shares to Buy" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
